
@model List<EmployeeViewModel> 

<table class="table">
    <tr>
        <th>Profile</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">BOD</th>
        <th scope="col">Gender</th>
        <th scope="col">Department</th>
        <th></th>
    </tr>
    @foreach (EmployeeViewModel e in Model)
    {
        <tr>
            <td>
                @{
                    var avatar = string.IsNullOrEmpty(e.ProfileImagePath) ? "/images/3048127.png" : e.ProfileImagePath;

                 }
                <img src="@avatar" alt="person" height="30" class="rounded-circle" />
             </td>
            <td>@e.Name</td>
            <td>@e.Address</td>
            <td>@e.Dob</td>
            <td>@e.Gender</td>
            
            <td>@e.DepartmentName</td>
            <td>
                <a href="/employee/details/@e.ID"><i class="bi bi-eye"></i> </a>
                <a asp-action="Edit" asp-route-id="@e.ID"><i class="bi bi-pen"></i> </a>
                <a asp-action="Delet" asp-route-id="@e.ID"><i class="bi bi-trash"></i> </a>
             </td>
 
        </tr>

    }

</table>