

@model List<Student>

    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">BOD</th>
            <th scope="col">Gender</th>
        </tr>
        @foreach(Student s in Model)
        {
            <tr>
                <td>@s.Name</td>
                <td>@s.Address</td>
                <td>@s.Email</td>
                <td>@s.BOD</td>
                <td>@s.Gender</td>
            </tr>
        
        }

    </table>